.search-bar {
  display: flex;
  max-width: 400px;
  margin: 20px auto;
}

.search-bar input {
  flex: 1;
  padding: 14px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar button {
  padding: 14px 20px;
  background: #ffcc00;
  border: none;
  border-radius: 0 8px 8px 0;
  font-weight: 600;
  cursor: pointer;
}
.search-bar {
  position: relative;
}

.search-bar .clear-btn {
  position: absolute;
  right: 90px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

